.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .col {
    width: 50%;
  }

  #search {
    width: 300px;
  }

  #search-results {
    width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .col {
    width: calc(100%/3);
  }

  #search {
    width: 500px;
  }

  #search-results {
    width: 600px;
  }
}
